{% extends "GraphAwareAppBundle:Default:layout.html.twig" %}

{% block content %}
<div class="col-sm-12 main">
    <h1><img src="/images/neolovegithub.png" alt="Neo4j Loves Github"/> </h1>

    {% if is_granted('ROLE_USER') == false %}

    <h3>Demo Application combining Github public events and Neo4j. <br/>

    Import your last 300 Github events into Neo4j in just one click !</h3>

        <p><a class="btn btn-warning" href="{{ hwi_oauth_login_url('github') }}" role="button">Login with Github</a></p>

    {% endif %}
<hr />
</div>

    {% if is_granted('ROLE_USER') %}
        <div class="col-sm-12">
            <section class="ppt-section-main">
                <div class="ppt-section-header">
                    <span class="ppt-header-span">POPOTO JS</span>
                </div>

                <div class="ppt-container-graph">
                    <div id="popoto-graph" class="ppt-div-graph">
                        <!-- Graph will be generated here-->
                        <div class="ppt-toolbar"><span id="popoto-center-menu" class="ppt-menu center" title="Center view"></span><span id="popoto-fullscreen-menu" class="ppt-menu fullscreen" title="Full screen"></span></div><svg class="ppt-svg-graph"><g transform="translate(-394.5629509904127,-166.83101526649432) scale(0.8201729111967283)"><g id="popoto-glinks"><g class="ppt-glink" id="ppt-glink_l2"><path id="ppt-path_l2" class="ppt-link-relation" d="M672.5 500L874.1814348553996 320.19131471258737"></path><text text-anchor="middle" dy="-4" id="ppt-text_l2" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l2" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l2">LAST_EVENT</textPath></text></g><g class="ppt-glink" id="ppt-glink_l4"><path id="ppt-path_l4" class="ppt-link-relation" d="M683.8463286931985 106.74009040503296L874.1814348553996 320.19131471258737"></path><text text-anchor="middle" dy="-4" id="ppt-text_l4" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l4">NEXT</textPath></text></g><g class="ppt-glink" id="ppt-glink_l6"><path id="ppt-path_l6" class="ppt-link-relation" d="M874.1814348553996 320.19131471258737L1135.077386605325 440.31317396435145"></path><text text-anchor="middle" dy="-4" id="ppt-text_l6" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l6" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l6">PUSHED</textPath></text></g><g class="ppt-glink" id="ppt-glink_l11"><path id="ppt-path_l11" class="ppt-link-relation" d="M490.17604928571643 -96.4234244400176L683.8463286931985 106.74009040503296"></path><text text-anchor="middle" dy="-4" id="ppt-text_l11" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l11" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l11">CREATED_BRANCH</textPath></text></g><g class="ppt-glink" id="ppt-glink_l13"><path id="ppt-path_l13" class="ppt-link-relation" d="M683.8463286931985 106.74009040503296L825.1740133576865 -91.3297788495333"></path><text text-anchor="middle" dy="-4" id="ppt-text_l13" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l13" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l13">NEXT</textPath></text></g><g class="ppt-glink" id="ppt-glink_l27"><path id="ppt-path_l27" class="ppt-link-relation" d="M248.49246110145276 -42.30296516925338L490.17604928571643 -96.4234244400176"></path><text text-anchor="middle" dy="-4" id="ppt-text_l27" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l27" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l27">BRANCH_OF</textPath></text></g><g class="ppt-glink" id="ppt-glink_l29"><path id="ppt-path_l29" class="ppt-link-relation" d="M362.63964355488145 -330.6043319707889L490.17604928571643 -96.4234244400176"></path><text text-anchor="middle" dy="-4" id="ppt-text_l29" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l29" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l29">LAST_PUSH</textPath></text></g><g class="ppt-glink" id="ppt-glink_l34"><path id="ppt-path_l34" class="ppt-link-relation" d="M153.44462447724248 -468.8903479961975L362.63964355488145 -330.6043319707889"></path><text text-anchor="middle" dy="-4" id="ppt-text_l34" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l34" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l34">PUSH_TO</textPath></text></g><g class="ppt-glink" id="ppt-glink_l36"><path id="ppt-path_l36" class="ppt-link-relation" d="M350.7013995598322 -580.6279794193936L362.63964355488145 -330.6043319707889"></path><text text-anchor="middle" dy="-4" id="ppt-text_l36" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l36" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l36">LAST_COMMIT</textPath></text></g><g class="ppt-glink" id="ppt-glink_l59"><path id="ppt-path_l59" class="ppt-link-relation" d="M1135.077386605325 440.31317396435145L1404.7375382225284 492.9522162658658"></path><text text-anchor="middle" dy="-4" id="ppt-text_l59" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l59" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l59">PUSH_TO</textPath></text></g><g class="ppt-glink" id="ppt-glink_l61"><path id="ppt-path_l61" class="ppt-link-relation" d="M1117.2086935777281 686.0395801737716L1135.077386605325 440.31317396435145"></path><text text-anchor="middle" dy="-4" id="ppt-text_l61" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l61">LAST_COMMIT</textPath></text></g><g class="ppt-glink" id="ppt-glink_l63"><path id="ppt-path_l63" class="ppt-link-relation" d="M1404.7375382225284 492.9522162658658L1666.766632310186 498.56741014011305"></path><text text-anchor="middle" dy="-4" id="ppt-text_l63" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l63" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l63">BRANCH_OF</textPath></text></g><g class="ppt-glink" id="ppt-glink_l65"><path id="ppt-path_l65" class="ppt-link-relation" d="M1404.7375382225284 492.9522162658658L1524.495283029993 710.427687595718"></path><text text-anchor="middle" dy="-4" id="ppt-text_l65" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l65" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l65">LAST_PUSH</textPath></text></g><g class="ppt-glink" id="ppt-glink_l73"><path id="ppt-path_l73" class="ppt-link-relation" d="M1666.766632310186 498.56741014011305L1914.9055902262837 541.4687204546484"></path><text text-anchor="middle" dy="-4" id="ppt-text_l73" class="ppt-link-text-relation"><textPath class="ppt-textPath" startOffset="50%" id="ppt-textpath_l73" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ppt-path_l73">OWNED_BY</textPath></text></g></g><g id="popoto-gnodes"><g id="popoto-gnode_0" transform="translate(672.5,500)"><title>ikwattro</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse value"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-root">ikwattro</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box root"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_80" transform="translate(874.1814348553996,320.19131471258737)"><title>GithubEvent</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">GithubEvent</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_46" transform="translate(683.8463286931985,106.74009040503296)"><title>CreateEvent</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse value"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">CreateEvent</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_55" transform="translate(1135.077386605325,440.31317396435145)"><title>Push</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0.5;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Push</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_49" transform="translate(490.17604928571643,-96.4234244400176)"><title>31209104:ma</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse value"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">31209104:ma</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_12" transform="translate(825.1740133576865,-91.3297788495333)"><title>GithubEvent</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">GithubEvent</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_26" transform="translate(248.49246110145276,-42.30296516925338)"><title>Repository</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Repository</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">0</text></g></g><g id="popoto-gnode_52" transform="translate(362.63964355488145,-330.6043319707889)"><title>Push</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Push</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_33" transform="translate(153.44462447724248,-468.8903479961975)"><title>Branch</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Branch</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">0</text></g></g><g id="popoto-gnode_37" transform="translate(350.7013995598322,-580.6279794193936)"><title>Commit</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Commit</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_66" transform="translate(1404.7375382225284,492.9522162658658)"><title>Branch</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Branch</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_60" transform="translate(1117.2086935777281,686.0395801737716)"><title>Commit</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Commit</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_69" transform="translate(1666.766632310186,498.56741014011305)"><title>GithubNeo4j</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse value"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">GithubNeo4j</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_64" transform="translate(1524.495283029993,710.427687595718)"><title>Push</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse choose"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">Push</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g><g id="popoto-gnode_83" transform="translate(1914.9055902262837,541.4687204546484)"><title>graphaware</title><g class="ppt-g-node-background"><circle class="ppt-node-background-circle" r="70" style="fill-opacity: 0;"></circle></g><g class="ppt-g-node-middleground"><ellipse rx="50" ry="25" class="ppt-node-ellipse value"></ellipse><text x="0" y="8" text-anchor="middle" class="ppt-node-text-choose">graphaware</text></g><g class="ppt-g-node-foreground"><g class="ppt-node-foreground-g-arrows"><g><circle class="ppt-larrow" cx="-43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m -44.905361,-23 6.742,-6.742 c 0.81,-0.809 0.81,-2.135 0,-2.944 l -0.737,-0.737 c -0.81,-0.811 -2.135,-0.811 -2.945,0 l -8.835,8.835 c -0.435,0.434 -0.628,1.017 -0.597,1.589 -0.031,0.571 0.162,1.154 0.597,1.588 l 8.835,8.834 c 0.81,0.811 2.135,0.811 2.945,0 l 0.737,-0.737 c 0.81,-0.808 0.81,-2.134 0,-2.943 l -6.742,-6.743 z"></path></g><g><circle class="ppt-rarrow" cx="43" cy="-23" r="17"></circle><path class="ppt-arrow" d="m 51.027875,-24.5875 -8.835,-8.835 c -0.811,-0.811 -2.137,-0.811 -2.945,0 l -0.738,0.737 c -0.81,0.81 -0.81,2.136 0,2.944 l 6.742,6.742 -6.742,6.742 c -0.81,0.81 -0.81,2.136 0,2.943 l 0.737,0.737 c 0.81,0.811 2.136,0.811 2.945,0 l 8.835,-8.836 c 0.435,-0.434 0.628,-1.017 0.597,-1.588 0.032,-0.569 -0.161,-1.152 -0.596,-1.586 z"></path></g></g><rect x="16" y="33" width="52" height="19" class="ppt-count-box value"></rect><text x="42" y="48" text-anchor="middle" class="ppt-count-text">1</text></g></g></g></g></svg></div>
                </div>
            </section>
        </div>


    <div class="col-sm-12 main">
        <div class="row">
            <h4>Your statistics</h4>
            <h5>Query used :</h5>
            <pre>
                MATCH (user:User) WHERE user.login = '{{ app.user.login }}'
                MATCH (user)-[:LAST_EVENT|NEXT*]->(event)
                RETURN event.type as eventType, count(*) as counts
            </pre>
            <table class="table">
                {% for index,value in stats %}
                    <tr><td>{{ index }}</td><td>{{ value }}</td></tr>
                {% endfor %}
            </table>
        </div>

        <hr/>

        <div class="row">
            <h4>To which repositories have you contributed ?</h4>
            <h5>Query used :</h5>
            <pre>
                MATCH (user:User) WHERE user.login = '{{ app.user.login }}'
                MATCH (user)-[:LAST_EVENT|NEXT*]->(event)
                MATCH (event)-[:MERGED_PR|OPENED_PR|PUSHED]->(step)
                MATCH (step)-[*1..4]->(repo:Repository)
                RETURN collect(DISTINCT(repo.name)) as repos
            </pre>
            <table class="table">
                {% for repo in repo_contrib %}
                    <tr><td>{{ repo }}</td></tr>
                {% endfor %}
            </table>
        </div>

        <hr />

    </div>
    {% else %}

    <div class="col-sm-12 main">
        <div class="col-sm-4">
            <h4>Users Registered</h4>
            <p>{{ active_users }}</p>
        </div>

        <div class="col-sm-4">
            <h4>Total Github Events</h4>
            <p>{{ total_events }}</p>
        </div>

        <div class="col-sm-4">
            <h4>Total Repositories</h4>
            <p>{{ total_repos }}</p>
        </div>
    </div>

    {% endif %}

{% endblock %}

{% block js %}
    <script>

        // Change this property to your running Neo4j server or GrapheneDB instance.
        popoto.rest.CYPHER_URL = "http://108.61.209.152:7874/db/data/cypher";
        // Add this property if your server requires basic HTTP authentication. If not just remove this line.
        popoto.rest.AUTHORIZATION = "Basic " + btoa("neo4j:error");

        // logger level is set to INFO to see generated Cypher queries in console logs
        // Change level or remove if not needed
        popoto.logger.LEVEL = popoto.logger.LogLevels.INFO;

        popoto.query.USE_PARENT_RELATION = true;

        popoto.query.filterRelation = function (d) {
            return d.relationship != "EVENT_TYPE";
        };

        // Define the list of label provider to customize the graph behavior:
        popoto.provider.nodeProviders = {
            "User": {
                "returnAttributes": ["id", "login"],
                "constraintAttribute": "id",
                "children": ["ActiveUser", "Organisation"], // Set sub type of user as child which will inherit from this config
                // Text displayed in the node in graph
                "getTextValue": function (node) {
                    if (node.type === popoto.graph.node.NodeTypes.VALUE) { // The node is a selectable value
                        return node.attributes.login; // Display the ActiveUser login
                    } else { // The node is a choosable label
                        if (node.value === undefined) { // with no value selected
                            return node.label; // Display node label
                        } else { // with value selected
                            return node.value.attributes.login; // Display selected value login
                        }
                    }
                },
                // Text displayed in the query viewer
                "getSemanticValue": function (node) {
                    return popoto.provider.getTextValue(node);
                },
                // Result list customization:
                "displayResults": function (pElmt) {
                    // only display an H3 element with user login
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.login;
                            });
                }
            },
            "Issue": {
                "returnAttributes": ["id", "number", "title", "body"],
                "constraintAttribute": "id",
                "getTextValue": function (node) {
                    if (node.type === popoto.graph.node.NodeTypes.VALUE) { // The node is a selectable value
                        return node.attributes.number;
                    } else { // The node is a choosable label
                        if (node.value === undefined) { // with no value selected
                            return node.label;
                        } else { // with value selected
                            return node.value.attributes.number;
                        }
                    }
                },
                // Text displayed in the query viewer
                "getSemanticValue": function (node) {
                    return popoto.provider.getTextValue(node);
                },
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return "Issue " + result.attributes.number + ": " + result.attributes.title;
                            });
                    pElmt.append("p")
                            .text(function (result) {
                                return result.attributes.body;
                            });
                }
            },
            "GithubEvent": {
                "returnAttributes": ["id", "type"],
                "constraintAttribute": "id",
                // Add subtype of events as children which will also inherit this config
                "children": ["CreateEvent", "IssuesEvent", "IssueCommentEvent", "PullRequestEvent", "PushEvent", "WatchEvent"],
                "getTextValue": function (node) {
                    if (node.type === popoto.graph.node.NodeTypes.VALUE) { // The node is a selectable value
                        return node.attributes.type;
                    } else { // The node is a choosable label
                        if (node.value === undefined) { // with no value selected
                            return node.label;
                        } else { // with value selected
                            return node.value.attributes.type;
                        }
                    }
                },
                // Text displayed in the query viewer
                "getSemanticValue": function (node) {
                    return popoto.provider.getTextValue(node);
                },
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.type + ": " + result.attributes.id;
                            });
                }
            },
            "Tag": {
                "returnAttributes": ["reference", "tag_name"],
                "constraintAttribute": "tag_name"
            },
            "Branch": {
                "returnAttributes": ["reference", "name"],
                "constraintAttribute": "reference",
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.reference;
                            });

                    pElmt.filter(function (result) {
                        // Filter on attribute having name attribute value
                        return result.attributes.name;
                    }).append("span").text(function (result) {
                        return "name: " + result.attributes.name;
                    });
                }
            },
            "EventType": {
                "returnAttributes": ["type"],
                "constraintAttribute": "type"
            },
            "Repository": {
                "returnAttributes": ["id", "name"],
                "constraintAttribute": "id",
                "getTextValue": function (node) {
                    if (node.type === popoto.graph.node.NodeTypes.VALUE) { // The node is a selectable value
                        return node.attributes.name;
                    } else { // The node is a choosable label
                        if (node.value === undefined) { // with no value selected
                            return node.label;
                        } else { // with value selected
                            return node.value.attributes.name;
                        }
                    }
                },
                // Text displayed in the query viewer
                "getSemanticValue": function (node) {
                    return popoto.provider.getTextValue(node);
                },
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.name;
                            });
                }
            },
            "PullRequest": {
                "returnAttributes": ["id", "number", "title", "body"],
                "constraintAttribute": "id"
            },
            "Push": {
                "returnAttributes": ["id"],
                "constraintAttribute": "id"
            },
            "Commit": {
                "returnAttributes": ["sha", "message"],
                "constraintAttribute": "sha",
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.sha;
                            });
                    pElmt.append("span")
                            .text(function (result) {
                                return result.attributes.message;
                            });
                }
            },
            "IssueComment": {
                "returnAttributes": ["id", "body"],
                "constraintAttribute": "id",
                "displayResults": function (pElmt) {
                    pElmt.append("h3")
                            .text(function (result) {
                                return result.attributes.id;
                            });
                    pElmt.append("span")
                            .text(function (result) {
                                return result.attributes.body;
                            });
                }
            }
        };

        // Add a listener on returned result count to update count in page
        popoto.result.onTotalResultCount(function (count) {
            d3.select("#result-total-count").text(function (d) {
                return "(" + count + ")";
            })
        });
        
        popoto.graph.on("root.node.add", function (rootNode) {
            rootNode.value = {
                attributes: {
                    count: 1,
                    id: 1222009,
                    login: "ikwattro"
                },
                type: popoto.graph.node.NodeTypes.VALUE,
                label: "User"
            };
            rootNode.immutable = true;
        });

        // Start the generation using User as root label of the query.
        popoto.start("User");

    </script>
{% endblock %}